<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div style="text-align: center;">
<h1>
welcome to {{title}}
</h1>

</div>>  
<div class="container">
<button (click)="listar()" class="btn btn-info">listar</button>
<button (click)="nuevo()"  class="btn btn-info" style="margin-left: 10px;">nuevo</button>
</div>


<router-outlet></router-outlet>